@using PestKit.ViewModels;
@model List<BasketItemVM>
@{
    decimal total = 0;
}
@foreach (BasketItemVM item in Model)
{
    total += item.SubTotal;
    <tr>
        <td class="shoping__cart__item">
            <h5>@item.Name</h5>
        </td>
        <td class="shoping__cart__price">
            $@item.Price
        </td>
        <td class="shoping__cart__quantity">
            <div class="quantity">
                <div class="pro-qty">
                    <a asp-action="DeleteBasket" asp-route-id="@item.Id">
                        <span class="dec qtybtn">
                            <span>-</span>
                        </span>

                    </a>

                    <input type="text" value="@item.Count">
                    <a asp-action="AddBasket" asp-route-id="@item.Id" asp-route-controllerName="Basket">
                        <span class="inc qtybtn">
                            <span>+</span>
                        </span>
                    </a>

                </div>
            </div>
        </td>
        <td class="shoping__cart__total">
            $@item.SubTotal
        </td>
        <td class="shoping__cart__item__close">
            <a asp-action="DeleteBasket" asp-controller="Basket" asp-route-id="@item.Id" class="remove-from-cart">
                remove
               @*  <i class="far fa-trash-alt fa-fw text-danger remove-from-cart"></i> *@
            </a>

        </td>
    </tr>
}